/* start working on nav bar */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    background-color: hsl(36, 100%, 99%);
    font-family: 'Inter' ;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-family: "Inter";
}
/* nav bar css ####################################################*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 50px;
}



.brand-name{
    font-size: 2rem;
    text-decoration: none;
    color: black;
}


.nav-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}


.nav-item{
    font-size: 18px;
    list-style: none;
    cursor: pointer;
}
.nav-item:hover{
    color: hsl(5, 85%, 63%) ;
}

.bar{
    display: block;
    height: 3px;
    width: 25px;
    background-color: green;
    margin: 5px auto;
}

.humberger{ 
    display: none ; 
    cursor: pointer ;   
}

#mobil_image{
    display: none;
}


/* start working on main body ####################################################**/
.container{
    margin-top: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "first first second"
    "third third third";
    grid-gap: 25px;
}

/* working with the first section ####################################################**/
#mobil_image{
    display: none;
}
.details{
    grid-area: first;
}
.details img{
    object-fit: contain;
    width: 100%;
}

.information h1{
    grid-area: a;
    font-family: "Inter";
    font-weight: 700;
    font-size: 55px;
    margin-top: 10px;
    /* padding-left: 10px; */
    margin-bottom: 0;

}
.information p{
    grid-area: b;
    margin-top: 10px;
    color: hsl(236, 13%, 42%);
    padding-top: 5px;
    margin-bottom: 0;
    font-size: 15px;
}
.information div{
    margin: 0;
    grid-area: c;
    
}

.information button {
    font-family: "inter";
    font-weight: 400;
    margin-top: 12% ;
    background-color: hsl(5, 85%, 63%);
    padding: 12px 30px 12px 30px;
    font-size: 16px ;
    color: white ;
    border: 0;
    margin-bottom: 0;
    letter-spacing: 0.3rem;
    cursor: pointer;
}
.information{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "a b" "a c";
}



/* working with the second section ####################################################**/
.news{
    grid-area: second;
    background-color: hsl(240, 100%, 5%);
    color: white;
}

.news h2{
    font-size: 32px;
    margin-top: 10%;
    margin-left: 8%;
    color: hsl(35, 77%, 62%);
    font-weight: 700;

}

.news .article{
    border-bottom: 1px solid gray;
    margin: 8% 8%;
    padding-bottom: 6px;
    margin-bottom: 0;
}

.news .article:nth-child(4){
    border:0 ;

}
.news .title{
    font-size: 20px;
    font-weight: 700;

}
.news .description{
    font-size: 15px;
    opacity: 0.8;
    padding-bottom: 10px;
}

/* working with the third 3 section ####################################################**/

.features {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;

}
.pocket {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedbacks{
    padding-left: 15px;
}
.feedbacks p:nth-child(1) {
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
    opacity: 0.6;
}
.feedbacks h3{
    font-weight: bold;
    font-size: 16px;
}
.feedbacks p:nth-child(3) {
    margin-bottom: 0;
    font-size: 15px;
    opacity: 0.6;
    
}

.pocket img{
    height: 150px;
    width: 110px;
}


